= form_with(model: job, local: true) do |form|
  - if job.errors.any?
    #error_explanation
      %h2
        = pluralize(job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - job.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :index
    = form.text_field :index, id: :job_index
  .actions
    = form.submit
