%h1.center= 'Hello ' +  current_user.first_name
%h4.center Here are all the jobs
%h5.center= 'There are ' + Job.active.count.to_s + ' total jobs.'
%table.table.striped
  %thead
    %tr
      %th Name
      %th Location
      %th Company
      %th Favorite
      %th Link
      %th Created
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to job.name, job_path(job.id), target: :_blank
        %td= job.location
        %td= job.company
        -if job.user_jobs.where(user_id: current_user.id).any?
          %td= link_to "Remove", user_job_path(job.id), method: :delete, data: {confirm: "Are you sure you want to delete this job?"}, class: "btn btn-xs btn-raised amber"
        - else
          %td= link_to "Favorite", new_user_job_path(job_id: job.id), class: "btn btn-primary btn-xs btn-raised"
        %td= link_to "Link", job.link, class: "btn btn-default btn-raised", target: :_blank
        %td= time_ago_in_words(job.created_at)
= paginate @jobs